
<h2>
  List of Products:
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of productsKeys">
     <button class="btn btn-info" [routerLink] = "['/edit-product', key]" (click) = "updateProduct(key)">Edit</button>
    {{'product number '+key+' - name: '+products[key].name +" , price: "+ products[key].price}}
  </li>
</ul>
